:root {
    --cor-fundo: #0A0F15;
    --cor-texto: #E9F2F9;
    --cor-destaque: #62C099;
    --cor-fundo-botao: #FB6B41;
    --cor-texto-botao: color-mix(in srgb, var(--cor-fundo) 60%, black 40%);
    --espessura-borda: 3px;
    --cor-container: color-mix(in srgb, var(--cor-fundo) 90%, black 10%);
    --cor-container-borda: color-mix(in srgb, var(--cor-destaque) 65%, black 35%);

    /* Editoras */
    --cor-dc: #007EC1;
    --cor-marvel: #ED1D24;
}

@font-face {
    font-family: 'Mardo';
    src: url('/static/fonts/Mardo.otf') format('opentype');
}

@font-face {
    font-family: 'Courbe Sans';
    src: url('/static/fonts/CourbeSans.otf') format('opentype');
}

body {
    font-family: 'Allerta', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    padding: 0 3rem;
}

.botao {
    display: inline-block;
    text-decoration: none;
    color: var(--cor-texto-botao);
    background-color: var(--cor-fundo-botao);
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Courbe Sans', sans-serif;
}

.botao-icone {
    font-size: 1.5rem;
}

.titulo {
    font-family: 'Mardo', sans-serif;
    font-size: 60px;
    font-weight: lighter;
    letter-spacing: 0.05em;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitulo {
    /*font-family: 'Allerta', sans-serif;*/
}

.pergunta {
    /*font-family: 'Allerta', sans-serif;*/
}

fieldset {
    background-color: var(--cor-container);
    border: var(--espessura-borda) solid var(--cor-container-borda);
    border-radius: 4px;
    padding: 1rem;
}

fieldset legend {
    padding: 0 0.5rem;
}

.blocos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.bloco-meses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}
 
.bloco-meses .botao {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.bloco-estacoes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.grade-semestres {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.confirmacao {
    margin-top: 1.5rem;
}

.confirmacao-acoes {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.erro {
    color: var(--cor-destaque);
}

.form-inline {
    margin: 0;
}
